In [1]:
import numpy as np
import pandas as pd

In [2]:
 food=pd.DataFrame([['Paneer',90,'jaipur','White','Indian','sweet'],
                   ['pizza',150,'pune','yellow','japanese','sour'],
                   ['sandwich',40,'Chennai','White','Indian','salty'],
                   ['bread',80,'jaipur','White','Thai','sweet'],
                   ['Seafood',100,'Mumbai','Red','Italian','savory'],
                   ['ice cream',40,'Delhi','Yellow','Thai','creamy'],
                   ['dhokla',70,'pune','Yellow','Indian','spicy'],
                   ['Chicken',200,'Kolkata','Light red','japanese','spicy'],
                   ['Biryani',50,'pune','Light red','Spanish','spicy'],
                   ['Kofta',70,'Hyderbad','Yellow','Spanish','spicy'],
                   ['dal bati',230,'jaipur','brown','japanese','spicy'],
                   ['burger',20,'Bhopal','brown','Italian','salty']
                  ]
                  ,columns=['Name','Price','Place','color','Cuisine','Taste'])
food

         Name  Price     Place      color   Cuisine   Taste
0      Paneer     90    jaipur      White    Indian   sweet
1       pizza    150      pune     yellow  japanese    sour
2    sandwich     40   Chennai      White    Indian   salty
3       bread     80    jaipur      White      Thai   sweet
4     Seafood    100    Mumbai        Red   Italian  savory
5   ice cream     40     Delhi     Yellow      Thai  creamy
6      dhokla     70      pune     Yellow    Indian   spicy
7     Chicken    200   Kolkata  Light red  japanese   spicy
8     Biryani     50      pune  Light red   Spanish   spicy
9       Kofta     70  Hyderbad     Yellow   Spanish   spicy
10   dal bati    230    jaipur      brown  japanese   spicy
11     burger     20    Bhopal      brown   Italian   salty

# Expensive dish

In [3]:

for x in food.index:
    if food.loc[x,'Price']==food['Price'].max():
         print('Costliest Dish Name = ',food.loc[x,'Name'],'\nDish Price =',food.loc[x,'Price'])

Costliest Dish Name =  dal bati
Dish Price = 230

In [4]:
food['Rating']=pd.Series([4.4,5,1.3,5,3,3.5,2.4,2.2,5,4.4,1.4,5],index=range(0,12))
food

         Name  Price     Place      color   Cuisine   Taste  Rating
0      Paneer     90    jaipur      White    Indian   sweet     4.4
1       pizza    150      pune     yellow  japanese    sour     5.0
2    sandwich     40   Chennai      White    Indian   salty     1.3
3       bread     80    jaipur      White      Thai   sweet     5.0
4     Seafood    100    Mumbai        Red   Italian  savory     3.0
5   ice cream     40     Delhi     Yellow      Thai  creamy     3.5
6      dhokla     70      pune     Yellow    Indian   spicy     2.4
7     Chicken    200   Kolkata  Light red  japanese   spicy     2.2
8     Biryani     50      pune  Light red   Spanish   spicy     5.0
9       Kofta     70  Hyderbad     Yellow   Spanish   spicy     4.4
10   dal bati    230    jaipur      brown  japanese   spicy     1.4
11     burger     20    Bhopal      brown   Italian   salty     5.0

# Cheapest dish

In [8]:
for x in food.index:
    if food.loc[x,'Price']==food["Price"].min():
         print('Cheapest Dish = ',food.loc[x,'Name'],'\nDish Price = ',food.loc[x,'Price'])

Cheapest Dish =  burger
Dish Price =  20

# White food find in jaipur

In [9]:
d1=food[food['color']=="White"]
for x in d1.index:
    if food.loc[x,'Place']=="jaipur":
        print('white food name in jaipur=',food.loc[x,'Name'])

white food name in jaipur= Paneer
white food name in jaipur= bread

# which cuisine most popular

In [10]:
for x in food.index:
    if food.loc[x,'Rating']==food["Rating"].max():
          print('Most Popular Cuisine = ',food.loc[x,'Cuisine'],'\nDish Rating = ',food.loc[x,'Rating'])

Most Popular Cuisine =  japanese
Dish Rating =  5.0
Most Popular Cuisine =  Thai
Dish Rating =  5.0
Most Popular Cuisine =  Spanish
Dish Rating =  5.0
Most Popular Cuisine =  Italian
Dish Rating =  5.0

# food which is available in pune and is spicy

In [11]:
food['Name'][(food['Place']=='pune')&(food['Taste']=='spicy')]

6     dhokla
8    Biryani
Name: Name, dtype: object

# count of different tastes for foods

In [12]:
food['Taste'].value_counts()

spicy     5
sweet     2
salty     2
savory    1
creamy    1
sour      1
Name: Taste, dtype: int64